[Unit]
Description=tmpnb
Requires=docker.service
After=docker.service

[Service]
Restart=no
ExecStart=/bin/bash -c "/opt/thebe-demo/stop; /opt/thebe-demo/start 50 >>/var/log/thebe"
ExecStop=/bin/bash -c "echo stop called >>/var/log/thebe; date >>/var/log/thebe; /opt/thebe-demo/stop"
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target

