[Unit]
Description=tmpnb
Requires=docker.service
After=docker.service

[Service]
Restart=no
ExecStart=/bin/bash -c "/home/ibmcloud/thebe-demo/stop; /home/ibmcloud/thebe-demo/start 50 >>/var/log/thebe-log"
ExecStop=/bin/bash -c "echo stop called >>/var/log/thebe-log; date >>/var/log/thebe-log; /home/ibmcloud/thebe-demo/stop"
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target

